# myrnn/drive
/myrnn/drive/data/.ipynb_checkpoints/
/myrnn/drive/data/*.csv



# mycnn/resnet-cifar10-caffe
/mycnn/resnet-cifar10-caffe/data



#tutorials
/tutorials/.ipynb_checkpoints
/tutorials/tensorflow/model*
/tutorials/tensorflow/*.pyc
/tutorials/temp
/tutorials/mnist_logs/
/tutorials/tensorflow/.ipynb_checkpoints/
/tutorials/tensorflow/MNIST_data/
/tutorials/tensorflow/ch05-2-frequency-response.ipynb
/tutorials/tensorflow/checkpoint


